#uniformHeader {
  display: flex;
  flex-direction: row;
  background: none;
}


a#deleteButton {
  text-decoration: none;
  color: rgb(233, 28, 28);
  padding: .3em;
  margin-right: 2.8em;
  padding-top: .3em;

    &:hover {
      color: rgb(104, 14, 14);
    }
}


div.uniform-item {
  margin-bottom: 1.5em;
}
